@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500;600;700&family=Poppins:wght@300;400;500&display=swap');
//fonts
$lg-font: 'Fira Sans', sans-serif;
$sm-font: 'Poppins', sans-serif;
//color
$orange: #f2a261;
$pink: #ed9bad;
$blue: #63d0e5;
$yellow: #e9d06c;
$transition: all 0.3s ease;

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 9rem;

    &::-webkit-scrollbar {
      width: 0.7rem;
    }

    &::-webkit-scrollbar-track {
      background: $pink;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 9em;
      background: $blue;
    }
}

body {
  font-family: $sm-font;
}

h1, h2, h3 {
  font-family: $lg-font;
  letter-spacing: 1px;
}

header {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/header__img.jpg) center/cover no-repeat;
                             
}

//botton
.btn {
  border: none;
  border-radius: 0;
  text-transform: uppercase;
  font-family: $lg-font;
  border: 3px solid #e9e7e7;
  width: 180px;
  padding: 8px 0;
  letter-spacing: 2px;

    &:hover {
      color: #fff;
    }
}

.navbar-dark {

    & .navbar-toggler{
    color: transparent;
  }
}

.nav-link {
  backdrop-filter: blur(2px);
  transition: $transition;
    &:hover {
      opacity: 0.7;
    }
}

.header-banner {

  & .container {
    min-height: calc(100vh - 96px);
  }

  & h1 {
    font-size: 40px;
    letter-spacing: 2px;
  }

  & .lead {
    color: #131313;
    max-width: 600px;
  }

  & .btn {
    background: transparent;
    color: #fff;
  }

  & .btn:hover {
    background: #fff;
    color: #000;
  }
    
}

//line and title
.line {
  height: 3px;
  width: 70px;
  background: $orange;
  margin-right: 30px;
}

.title {

  & h3 {
    color: $orange;
    font-family: $sm-font;
  }

  & span {
    font-size: 32px;
    font-family: $lg-font;
  }
}


//About section
.about-img {
  background: url(../images/about__img.jpg) center/cover no-repeat;
  min-height: 500px;
}

.about-text {

  & .btn {
    border-color: $orange;
  }

  & .btn:hover {
    background: $orange;
  }
}

//Features section
.features-img {
  background: url(../images/features__img.jpg) center/cover no-repeat;
  min-height: 500px;
}

.features-text {
  & .line {
    background: $blue;
  }

  & .title h3 {
    color: $blue;
  }

  & .btn {
    border-color: $blue;
  }

  & .btn:hover {
    background: $blue;
  }
}

//Studio section
.studio-img {
  background: url(../images/studio__img.jpg) center/cover no-repeat;
  min-height: 500px;
}

.studio-text {
  & .line {
    background: $yellow;
  }

  & .title h3 {
    color: $yellow;
  }

  & .btn {
    border-color: $yellow;
  }

  & .btn:hover {
    background: $yellow;
  }
}

//services
#services {

  & .row div {
    height: 330px;
  }

  & .row div:nth-child(1) {
    background: $orange;
  }

  & .row div:nth-child(2) {
    background: $yellow;
  }

  & .row div:nth-child(3) {
    background: $blue;
  }

  & .row div:nth-child(4) {
    background: $pink;
  }
}

// Contact section
#contact {
  background: url(../images/contact__img.jpg) center/cover no-repeat;

  & form {
    max-width: 680px;
  }

  & .form-control {
    color: #000 !important;
    padding: 12px;
  }

  & .form-control::placeholder {
    color: #000;
  }


  & .btn {
    color: $pink;
  }

  & .btn:hover {
    background: transparent !important;
    color: #fff;
  }

  & textarea {
    resize: none;
  }
}

//Footer section
footer span {
  color: $orange;
}

//Media Queries
@media (max-width: 576px) {

  
  .lead {
    font-size: 17px;
  }

}

@media (min-width: 678px) {
  .header-banner h1 {
    font-size: 80px;
  }

  .btn {
    font-size: 22px;
  }

  .title span {
    font-size: 50px;
  }
}

